body {
  max-width: 2000px;
  margin: 0 auto;
}

.donutsbanner img {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: hsla(155, 47%, 66%, 0.391);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.donuts img:nth-child(odd) {
  animation: spin 90s infinite;
  animation-direction: alternate;
}

.donuts img:nth-child(even) {
  animation: spin 90s infinite;
  animation-direction: alternate-reverse;
}

button {
  background-color: #afa34cbd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}
