.donuts-banner img {
  max-width: 100%;
}

.donuts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(68, 129, 129, 0.459);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donuts-tag img {
  width: 80%;
  animation: spin 20s linear infinite;
  margin: 8%;
}

button {
  background-color: rgba(231, 150, 37, 0.755);
  color: white;
  font-size: 25px;
}
